.amount {
    padding-top: 80px;
    padding-bottom: 80px;
    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;  
    }
    &__title {
        color: rgb(25, 25, 25);
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0%;
        text-align: left;
        }
    &__cost {
        display: flex;
        justify-content: space-between;
    }
    &__discount {
        max-width: 45%;
        color: rgb(25, 25, 25);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        text-align: left;
        &-span {
            color: rgb(25, 25, 25);
            font-size: 36px;
            line-height: 44px;
            text-align: left;
        }
    }    
    &__why {
        width: 45%;
        color: rgb(240, 90, 38);
        font-family: Inter;
        font-size: 19px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        display: flex;
        padding-top: 40px;
    }
    &__cards {
        margin-top: 80px; 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
        row-gap: 70px;
    }
    &__card img {
        max-width: 100%;
    }
    &__card {
        width: 45%;
    }
    &__sub-title {
        color: rgb(25, 25, 25);
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__text {
        color: rgb(153, 153, 153);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__description {
        display: flex;
        justify-content: space-between;
    }
    &__link {
        color: rgb(240, 90, 38);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        text-align: left;
    }
}

@media (max-width: 360px) {
    .amount {
        padding: 0%;
        &__title {
            width: 329px;
            font-size: 30px;
        }
        &__cost {
            display: flex;
            flex-direction: column;
        }
        &__discount {
            width: 329px;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 32px;
        }
        &__why {
            width: 100%;
        }
        &__cards {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        &__card {
            width: 100%;
        }
        &__sub-title {
            font-size: 20px;
        }
        &__card img {
           max-width:328px;
        }
        &__description {
            font-size: 20px;
            display: flex;
            justify-content: space-between;
        }
    }
}