.because {
    background: rgb(240, 238, 238);
    &__title {
        color: rgb(240, 90, 38);
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration: underline 1px;
        padding-top: 78px;
        padding-bottom: 78px;
    }
}
@media (max-width: 360px){
    .because {
        &__title {
        font-size: 30px;
        line-height: 36px;
        width: 328px; 
    }
    }
}