.footer {
    box-sizing: border-box;
    background: rgb(25, 25, 25);
    &__text {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__btn {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;
        box-sizing: border-box;
        border: 2px solid rgb(255, 255, 255);
        background: transparent;
        display: flex;
        padding: 17px 27px;
    }
    &__invite {
        display: flex;
        justify-content: space-between;
        padding-top: 83px;
    }
    &__location {
        color: rgb(240, 90, 38);
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__number {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__email {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        &-link {
            color: rgb(240, 90, 38);
        }
    }
    &__about {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 64px;
    }
    &__group {
        display: flex;
        justify-content: start;
        gap: 26px;
        align-items: center;
    }
    &__anchor {
        display: flex;
        gap: 30px;
        padding-top: 40px;
        padding-bottom: 106px;
        &-link {
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0%;
            text-align: left;
            text-decoration: none;
        }
    }
    &__bottom {
        border-bottom: 1px solid white;
        display: flex;
        justify-content: space-between;
    }
    &__last {
        display: flex;
        justify-content: space-between;
        align-items: center;   
        gap: 67px;
    }
    &__hr {
        max-width: 1000px;
    }
    &__br {
        display: none;
    }
}
@media (max-width: 360px){
    .footer  {
        &__anchor {
            gap: 35px;
        }
        &__btn {
            display: none;
        }
        &__invite {
            width: 323px;
        }
        &__number {
            font-size: 30px;
        }
        &__location {
            font-size: 20px;
        }
        &__email {
            font-size: 20px;
        }
        &__br {
            display: block;
        }
        &__anchor {
            flex-direction: column;
            padding-bottom: 53px;
        }
        &__bottom {
            flex-direction: column;
            padding-bottom: 102px;
        }
        &__text {
            font-size: 18px;
        }
        &__last {
            padding-top: 35px;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }
    }
}